<!DOCTYPE html>
<head>
    <title>Jack's Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/typingeffect.js"></script>
</head>
    <div id="navBar"></div>
    <body onload="typing(document.getElementById('Job'), 'Software&nbsp;Developer');">

        <div id="introBox">
            <div id="blockHolder">
                <div id="block1">
                    <h1>Jack Roth</h1>
                    <h2 id="jobTitle"><span id="Job"></span><span id="cursor">|</span></h2>
                </div>
                <div id="headshot">
                    <img src="../images/transparentHead.png">
                </div>
            </div>
            <div id="introP">
                <h3>About Me</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>
        </div>

        <div id="techStack" class="fade-in-section">
            <div id="techLanguage">
                <h3>Languages</h3>
                <div id="LanguagesHolder">
                    <table>
                        <tr>
                            <td width="15%" height="15%"><img src="../images/icons/python.png" width="75%" height="75%"></td>
                            <td width="15%" height="15%"><img src="../images/icons/java.png" width="75%" height="75%"></td>
                            <td width="15%" height="15%"><img src="../images/icons/csharp.png" width="75%" height="75%"></td>
                            <td width="15%" height="15%"><img src="../images/icons/cplusplus.png" width="75%" height="75%"></td>
                        </tr>
                      </table>
                </div>
            </div>
            <div id="techFrameworks">
                <h3>Libraries</h3>
            </div>
            <div id="techTools">
                <h3>Tools</h3>
            </div>
        </div>
    </body>
</html>